body {
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.top-wrap {
  height: 700px;
  background-image: url(bg-02.png);
  background-size: cover;
  padding: 340px 0;
  color: #ffe7cc;
  text-align: center;
}

.top-wrap h3 {
  margin: 0 50px;
  letter-spacing: 2px;
  font-size: 45px;
  font-family: "Franklin Gothic Medium";
}

.top-wrap h1 {
  margin: 0 40px;
  letter-spacing: 5px;
  font-size: 60px;
}

.top-wrap p {
  margin: 5px 40px;
  font-size: 20px;
}

/*---------------header-------------------*/
header {
  height: 45px;
  background-color: #3f3f3f;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header-left {
  float: left;
}

.header-left h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Franklin Gothic Medium";
}

/* nav
.header-center {
  float: right;
  padding: 0 10px;
}

.header-center a {
  display: block;
  color: white;
  float: left;
  padding: 10px 20px;
}

.header-center a:hover {
  background-color: #c2aaaa;
  color: rgb(180, 40, 40);
}

/*-------------main-----------*/
.profil {
  margin-top: 30px;
}

.judul {
  font-family: "Franklin Gothic Medium";
  text-align: center;
  font-size: 70px;
  color: #747774;
  border-bottom: 1.5px solid grey;
  padding-bottom: 15px;
  padding-top: 20px;
}

.row {
  padding: 20px;
}

.card {
  width: 18rem;
  margin: 10px 20px;
}

.card-img-top {
  width: 10px;
  border-color: grey;
}

.detail {
  padding-top: 50px;
}

.about {
  padding-top: 50px;
}

.edukasi {
  margin: 0 95px;
}

.sub-judul {
  font-family: "Franklin Gothic Medium";
  font-size: 40px;
  color: #747774;
  margin: 20px;
}

.ed {
  margin: 10px 60px 30px 40px;
}

.ed h3 {
  font-family: "Franklin Gothic Medium";
  font-size: 23px;
}

.card-skill {
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

footer {
  margin-top: 50px;
  height: 350px;
  width: 100%;
  background-color: #3f3f3f;
  color: white;
  text-align: center;
}

.btn-wrap {
  margin: 40px 0;
}

.btn-wrap p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
  margin: 5px 25px;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #55acee;
}

.btn {
  margin: 5px 10px;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
  color: #d8c1a6;
}
